@font-face {
  font-family: "SFPro";
  src: url("./SF-Pro.ttf");
}

* {
  font-family: "SFPro", sans-serif;
}

:root {
  color: #d9d9da;
  --base-radius: 6px;
  --base-primary-color: oklch(from var(--zen-primary-color) calc(l + 0.2) c h);
  --tabpanel-background-color: transparent !important;
  --base-white: #d9d9da;
}

/* SIDEBAR */

#zen-sidebar-top-buttons-customization-target {
  justify-content: space-between;
}

#zen-sidebar-top-buttons {
  margin-top: 2px !important;
}

#zen-appcontent-navbar-container {
  transition: height 0.1s ease-out, opacity 0.1s ease-out !important;
  transition-delay: 0s !important;
  
  &[zen-has-hover="true"] {
    transition-delay: 0.25s !important;
  }
}

#navigator-toolbox {
  --border-radius-medium: var(--base-radius) !important;
  --tab-border-radius: var(--base-radius) !important;
  --toolbarbutton-hover-background: oklch(from var(--base-primary-color) l c h / 0.07) !important;
}

#nav-bar {
  --zen-toolbar-height: 42px !important;
  margin-bottom: 4px !important;
}

/* WORKSPACE INDICATOR */

.zen-current-workspace-indicator-icon {
  display: none !important;
}

.zen-current-workspace-indicator {
  font-weight: 500 !important;;
  margin-top: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/* TABS */

tab {
  color: var(--base-white) !important;
  
  .tab-icon-overlay {
    display: none !important;
  }
}

#zen-essentials-container {
  gap: 6px !important;
  .tabbrowser-tab:not([selected]) {
    .tab-background {
      background: oklch(from var(--base-primary-color) l c h / 0.1) !important;
    }
    &:hover .tab-background {
      background: oklch(from var(--base-primary-color) l c h / 0.15) !important;
    }
  }
}

.tab-background {
  border: none !important;
  --zen-pinned-tabs-bgcolor: oklch(from var(--base-primary-color) l c h / 0.07) !important;
  --tab-hover-background-color: oklch(from var(--base-primary-color) l c h / 0.07) !important; 

  &:is([selected], [multiselected]) {
    background-color: oklch(from var(--base-primary-color) l c h / 0.25) !important;
  }
  
  &::before {
    margin: 0 !important;
    background-color: transparent !important;
  }
  
  &::after {
    opacity: 0 !important;
  }
}

.tab-close-button.close-icon {
  padding: 4px !important;
}

/* TAB EXTRAS */

#tabbrowser-arrowscrollbox, 
#vertical-pinned-tabs-container {
  tab {
    margin-block: 2px !important;
  }
}

#tabbrowser-arrowscrollbox-periphery {
  margin-bottom: 2px !important;
}

#tabs-newtab-button {  
  .toolbarbutton-text {
    padding-left: 12px !important;
    margin-top: -2px !important;
  }
}

#vertical-pinned-tabs-container-separator {
  max-height: 1px !important;
  margin-bottom: 12px !important;
  margin-top: 10px !important;
  background-color: light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.15)) !important;
}

/* URLBAR */

#identity-icon-box {
  display: none !important;
}

#urlbar {
  --toolbarbutton-border-radius: var(--base-radius) !important;
  --tab-border-radius: var(--base-radius) !important;
  
  &:not([open]) {
    #urlbar-background {
       background: oklch(from var(--base-primary-color) l c h / 0.1) !important;
    }
  }
  
  &:not([breakout-extend="true"]) .urlbar-input-container .urlbar-input-box {
    padding-left: 4px !important;
  }
    
  #blocked-permissions-container {
    display: none !important;
  }
  
  #urlbar-zoom-button {
    --urlbar-box-bgcolor: oklch(from var(--base-primary-color) l c h / 0.25) !important;
    transition: all 0.1s ease-out;
  }
}

/* TOP EXTENSION BUTTON */

#unified-extensions-button {
  opacity: 0;
  transition: all .15s ease-out;
  
  &:hover {
    opacity: 1;
  }
}

/* BOTTOM WORKSPACE BUTTONS */

#zen-sidebar-icons-wrapper {
  padding-top: 0 !important;
}

.subviewbutton {
  transition-duration: 150ms !important;
  
  &:hover {
    opacity: 1 !important;
    background-color: transparent !important;
  }
}

.zen-workspace-icon {
  position: relative;
  color: transparent !important;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 4.8px;
    height: 4.8px;
    margin: auto;
    background: var(--base-white);
    border-radius: 99999px;
  }
}
