:root,
* {
  --in-content-page-background: black !important;
  --box-background-color: #121212 !important;
  --in-content-table-background: #121212 !important;
  --in-content-page-background: #121212 !important;
  --in-content-accent-color: white !important;
  --color-cyan-50: white !important;
  --in-content-table-header-background: white !important;
  --in-content-box-border-color: transparent !important;
  --section-highlight-background-color: rgba(200, 200, 200, 0.15) !important;
  --in-content-box-info-background: #121212 !important;
  --background-color-box: #121212 !important;
  --dark-theme-background: black !important;
  --dark-theme-foreground: #c8c8c8 !important;
  --primary-color: white !important;
}

select {
  background-color: #121212 !important;
  color: white !important;
}

option {
  background-color: #121212 !important;
  color: white !important;
}

@-moz-document url-prefix(about:) {
  :root {
    color: #c8c8c8 !important;
  }
}

@-moz-document url(about:blank), url(about:home), url(about:newtab), url(about:privatebrowsing) {
  :root {
    --newtab-primary-action-background: #ffffff !important;
    --newtab-primary-action-background-dimmed: transparent !important;
    --newtab-background-color-secondary: rgb(18, 18, 18) !important;
  }

  body {
    --newtab-background-color: #121212 !important;
  }

  .personalize-button {
    opacity: 0 !important;
  }

  .personalize-button:hover,
  .personalize-button:active {
    opacity: 0.5 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(2rem) !important;
  }

  .body-wrapper,
  .search-inner-wrapper {
    display: none !important;
  }
}
