:root {
  color: #d9d9da;
  letter-spacing: 0.1px !important;
  --base-radius: 6px;
  --base-primary-color: color-mix(in srgb, var(--zen-primary-color) 50%,  #d9d9da);
  --tabpanel-background-color: transparent !important;
  --base-white: #d9d9da;
}

#zen-sidebar-top-buttons-customization-target {
  justify-content: space-between;
}

#zen-sidebar-top-buttons {
  margin-top: 2px !important;
}

#identity-icon-box {
  display: none !important;
}

#zen-current-workspace-indicator-icon {
  display: none !important;
}

#zen-current-workspace-indicator-name {
  padding-left: 0 !important;
}

#zen-current-workspace-indicator {
  font-weight: 500 !important;;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

browser {
  border-radius: 6px !important;
  background: color-mix(in srgb, var(--base-primary-color) 10%, transparent) !important; 
}

#zen-appcontent-navbar-container {
  transition: height 0.1s ease-out, opacity 0.1s ease-out !important;
  transition-delay: 0s !important;
  
  &[zen-has-hover="true"] {
    transition-delay: 0.25s !important;
  }
}

#tabbrowser-arrowscrollbox, 
#vertical-pinned-tabs-container {
  tab {
    margin-block: 2px !important;
  }
}

#tabbrowser-arrowscrollbox-periphery {
  margin-bottom: 2px !important;
}

#tabs-newtab-button {
  color: #868686 !important;
  font-size: 1.1rem !important;
  
  .toolbarbutton-icon {
    opacity: 0.53;
  }
}

#vertical-pinned-tabs-container-separator {
  margin-block: 8px !important;
  background-color: light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.15)) !important;
}

#tabbrowser-tabs {
  gap: 4px !important;
  --tab-min-height: 42px !important;
}

tab {
  font-size: 1.1rem !important;
  color: var(--base-white) !important;
  
  .tab-icon-overlay {
    display: none !important;
  }
}

#zen-essentials-container {
  gap: 6px !important;
  --tab-min-height: 52px !important;
  
  .tab-icon-image {
    scale: 1.1 !important;
  }
  
  .tabbrowser-tab:not([selected]) {
    .tab-background {
      background: color-mix(in srgb, var(--base-primary-color) 10%, transparent) !important;

    }
    &:hover .tab-background {
      background: color-mix(in srgb, var(--base-primary-color) 15%, transparent) !important;
    }
  }
}

.tab-background {
    --zen-pinned-tabs-bgcolor: color-mix(in srgb, var(--base-primary-color) 7%, transparent) !important;
    --tab-hover-background-color: color-mix(in srgb, var(--base-primary-color) 7%, transparent) !important; 
    
    &:is([selected], [multiselected]) {
      background-color: color-mix(in srgb, var(--base-primary-color) 35%, transparent) !important;
    }
}

#navigator-toolbox {
  transition-duration: 100ms !important;
  transition-delay: 100ms !important;
  --border-radius-medium: var(--base-radius) !important;
  --tab-border-radius: var(--base-radius) !important;
  --toolbarbutton-hover-background: color-mix(in srgb, var(--base-primary-color) 7%, transparent) !important;
}

#nav-bar {
  --zen-toolbar-height: 44px !important;
  margin-bottom: 4px !important;
}

#urlbar {
  --toolbarbutton-border-radius: var(--base-radius) !important;
  --tab-border-radius: var(--base-radius) !important;
  --urlbar-height: 40px !important;
  --urlbar-container-height: 42px !important;
  
  &:not([open]) {
    #urlbar-background {
       background: color-mix(in srgb, var(--base-primary-color) 10%, transparent) !important;
    }
  }
  
  &:not([breakout-extend="true"]) .urlbar-input-container .urlbar-input-box {
    padding-left: 6px !important;
  }
  
  #blocked-permissions-container {
    display: none !important;
  }
  
  #page-action-buttons, 
  #tracking-protection-icon-container, 
  #urlbar-search-button, 
  remote-control-box {
    display: none !important;
  }
}

.browserSidebarContainer {
  box-shadow: none !important;
}

#zen-sidebar-icons-wrapper {
  padding-top: 0 !important;
}

#zen-workspaces-button {
  width: 100% !important;
  justify-items: center !important;
  gap: 8px !important;
  
  toolbarbutton {
    margin: 0 !important;
    width: 32px !important;
    height: 32px !important;
  }
}

#unified-extensions-button {
  opacity: 0;
  transition: all .15s ease-out;
  
  &:hover {
    opacity: 1;
  }
}

.zen-workspace-icon {
  position: relative;
  color: transparent !important;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 4.5px;
    height: 4.5px;
    margin: auto;
    background: var(--base-white);
    border-radius: 99999px;
  }
}
