@import "../../.config/waybar/wallust/colors-waybar.css";

@define-color text-color @color0;
@define-color text-color-alt @color9;
@define-color accent @color7;
@define-color accent-dark @color6;
@define-color light @foreground;
@define-color border-color @color12;

* {
  font-family: "JetBrains Mono Nerd Font Mono";
  font-weight: 400;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
}

.notification-row {
  background-color: @accent;
  box-shadow: none;
  outline: none;
  margin: 8px;
  border-radius: 8px;
  padding: 8px 0px;
  color: @text-color;
}

.notification-row .notification-background {
  color: @text-color;
  background-color: @accent;
  border-radius: 8px;
  box-shadow: none;
  border: 0px solid @border-color;
}

.notification {
  color: @text-color;
  border-radius: 8px;
  box-shadow: none;
  margin: 0px;
  border: 0px solid @border-color;
  background: @accent;
}

.notification-content {
  color: @text-color;
  background: @accent;
  box-shadow: none;
  padding: 0px;
  border-radius: 8px;
  border: 0px solid @border-color;
  margin-left: 0px;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: none;
  background: @accent;
}

.close-button {
  opacity: 0;
}

.notification-action {
  border: 0px solid @border-color;
  background: @accent;
  border-top: none;
  border-radius: 8px;
  color: @text-color;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @text-color;
  background: transparent;
}

.notification-default-action {
  border-radius: 8px;
  margin: 4px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.notification-action:first-child {
  border-bottom-left-radius: 8px;
  background: @accent;
}

.notification-action:last-child {
  border-bottom-right-radius: 8px;
  background: @accent;
}

.body-image {
  margin-top: 6px;
  color: @light;
  border-radius: 8px;
}

.summary {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-bottom: 8px;
  margin-left: 8px;
}

.time {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text-color;
}

.body {
  font-size: 1rem;
  margin-bottom: 4px;
  margin-left: 8px;
  background: transparent;
  color: @text-color;
}

.control-center {
  background: rgba(0, 0, 0, 0.25);
  color: @accent;
  border-radius: 8px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: transparent;
}

.widget-label {
  margin: 4px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @accent;
  margin: 4px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.widget-mpris * {
  box-shadow: none;
}

.widget-mpris > box > button {
  color: @text-color;
  border: 2px solid @accent;
  border-radius: 8px;
  margin: 0px;
}

.widget-mpris button {
  color: alpha(@text-color, 0.6);
}

.widget-mpris button:hover {
  color: @text-color;
}

.widget-mpris-player {
  border-radius: 8px;
  background: @accent;
  color: @text-color;
  margin: 0px 16px;
}

.widget-mpris-album-art {
  border-radius: 4px;
}

.widget-mpris-title {
  font-weight: 400;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 0.75rem;
}

.widget-buttons-grid {
  font-size: 1.5rem;
  color: @text-color;
  margin: 16px;
  border-radius: 8px;
  background: @accent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: transparent;
  padding: 8px 28px;
  border-radius: 8px;
  color: @text-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: alpha(@text-color, 0.15);
}

trough {
  border: unset;
  background-color: @accent-dark;
  border-radius: 9999px;
  margin-left: 16px;
}

highlight {
  background: @text-color;
  border-radius: 9999px;
}

trough slider {
  color: unset;
  background-color: @text-color;
}

.widget-volume,
.widget-backlight {
  background: @accent;
  padding: 2px 16px;
  margin: 0px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-size: 1.5rem;
  color: @text-color;
}

bac.widget-backlight > box > button,
.widget-volume > box > button {
  background: @text-color;
}

.per-app-volume {
  background-color: @accent;
  padding: 4px 8px 8px;
  margin: 0 8px 8px;
  border-radius: 10px;
  color: @text-color;
}

.low {
  background: @text-color;
  padding: 0px;
  border-radius: 10px;
}

.normal {
  background: @text-color;
  padding: 0px;
  border-radius: 10px;
}

.critical {
  background: red;
  padding: 0px;
  border-radius: 10px;
}
